@using System.Text.Json

<RadzenCard Style="margin-bottom: 20px;">
    <RadzenHeading Size="H4" Text="@Title" />
    <p>@Description</p>

    <RadzenHeading Size="H4" Text="🔗 Path" Style="margin-top: 20px;" />
    <RadzenLabel Text="@Endpoint" Style="font-weight: bold;" />

    @if (ParamSpecs?.Any() == true)
    {
        <RadzenHeading Size="H4" Text="📗 API Request Specification" Style="margin-top: 30px;" />

        <RadzenDataGrid Data="@ParamSpecs" TItem="Dictionary<string, string>" ShowPagingSummary="false" ShowPagination="false" Style="margin-top: 10px;">
            <Columns>
                @foreach (var key in ParamSpecs[0].Keys)
                {
                    <RadzenDataGridColumn TItem="Dictionary<string, string>" Title="@key">
                        <Template Context="row">
                            @row[key]
                        </Template>
                    </RadzenDataGridColumn>
                }
            </Columns>
        </RadzenDataGrid>

        <RadzenHeading Size="H4" Text="✅ Example" Style="margin-top: 20px;" />
        <RadzenCard Style="margin-top: 10px;" Variant="Variant.Outlined">
            <pre style="margin: 0; padding: 10px; white-space: pre-wrap;">@SampleJson</pre>
        </RadzenCard>

        <ApiContentCurlComponent></ApiContentCurlComponent>
    }

    @if (ParamSpecsResponse?.Any() == true)
    {
        <RadzenHeading Size="H4" Text="📗 API Response Specification" Style="margin-top: 40px;" />

        <RadzenDataGrid Data="@ParamSpecsResponse" TItem="Dictionary<string, string>" ShowPagingSummary="false" ShowPagination="false" Style="margin-top: 10px;">
            <Columns>
                @foreach (var key in ParamSpecsResponse[0].Keys)
                {
                    <RadzenDataGridColumn TItem="Dictionary<string, string>" Title="@key">
                        <Template Context="row">
                            @row[key]
                        </Template>
                    </RadzenDataGridColumn>
                }
            </Columns>
        </RadzenDataGrid>

        <RadzenHeading Size="H4" Text="✅ Example" Style="margin-top: 20px;" />

        <RadzenPanel AllowCollapse="true" Expanded="false" Style="margin-top: 20px;">
            <HeaderTemplate>🟢 Successfull HTTP Status : 200</HeaderTemplate>
            <ChildContent>
                <RadzenCard Style="margin-top: 10px;" Variant="Variant.Outlined">
                    <pre style="margin: 0; padding: 10px; white-space: pre-wrap;">@SampleJsonResponseSuccess</pre>
                </RadzenCard>
            </ChildContent>
        </RadzenPanel>

        <RadzenPanel AllowCollapse="true" Expanded="false" Style="margin-top: 20px;">
            <HeaderTemplate>🔴 Failed HTTP Status : 401</HeaderTemplate>
            <ChildContent>
                <RadzenCard Style="margin-top: 10px;" Variant="Variant.Outlined">
                    <pre style="margin: 0; padding: 10px; white-space: pre-wrap;">@SampleJsonResponseFailed</pre>
                </RadzenCard>
            </ChildContent>
        </RadzenPanel>
    }
</RadzenCard>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Description { get; set; } = "";
    [Parameter] public string Endpoint { get; set; } = "";
    [Parameter] public string SampleJson { get; set; } = "";
    [Parameter] public string? SampleJsonResponseSuccess { get; set; }
    [Parameter] public string? SampleJsonResponseFailed { get; set; }

    // Ganti ke List of Dictionary<string, string>
    [Parameter] public List<Dictionary<string, string>>? ParamSpecs { get; set; }
    [Parameter] public List<Dictionary<string, string>>? ParamSpecsResponse { get; set; }
}
